.App {
  background-color: #eeeeee;
  height: 100vh; /* fit to viewport height */
  overflow: hidden; /* prevent scrollbars */
  padding-bottom: 80px; /* space for fixed footer */
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.pageLayout {
  background: url('images/img_2.png') no-repeat center center fixed;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  padding: 36px 24px; /* breathing room below navbar */
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  /*max-width: 1100px;*/
  margin: 0 auto;
}

/* Main content container used to control page width and spacing */
.page-content {
  /*max-width: 1100px;*/
  margin: 0 auto;
  padding: 12px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

BrowserRouter {
  display: flex;
  gap: 20px; /* space between items */
}

.css-yiloz8 {
  background-color: #eee !important;
  color: black !important;
}

.css-19oky00 {
    border-right: 1px solid;
    /* border-color: rgba(0, 0, 0, 0.12); */
    background-color: #424242;
    width: 220px;
}

.css-6qj85y-MuiTabs-root .MuiTab-root {
    -webkit-align-items: flex-start;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    color: #59546b;
    text-transform: none;
    font-size: 0.95rem;
    font-weight: 500;
}

.css-1vnz3x5 {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 32px;
    overflow-y: scroll !important;
    max-height: 45rem;
}

button.MuiButtonBase-root.MuiTab-root.MuiTab-textColorPrimary.Mui-selected.css-1usuzwp-MuiButtonBase-root-MuiTab-root {
    color: #eee;
}
