.App {
  background-color: #eeeeee
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.pageLayout {
  background: url('images/img_2.png') no-repeat center center fixed;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 50vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

BrowserRouter {
  display: flex;
  gap: 20px; /* space between items */
}
